<!DOCTYPE html>
<html lang="en">
<head>
    <title>Django Girls blog</title>
</head>
<body>
<header>
    <h1><a href="{% url 'blog:index' %}">Django Girls Blog</a></h1>
</header>

{% if posts %}
    {% for post in posts %}
        <article>
            <fieldset>
                <legend>
                    <time>Published on: {{ post.published_date }}</time>
                </legend>
                <h2><a href="">{{ post.title }}</a></h2>
                <p>{{ post.text | linebreaksbr }}</p>
                <p>By: <a href="">{{ post.author }}</a></p>
            </fieldset>
        </article>
    {% endfor %}
{% endif %}
</body>
</html>